<div class="mdc-drawer__content h-padding-full">
  <h2 class="mdc-drawer__content-heading hide-sm mdc-drawer--occasional-ie11">Search funds</h2>
  <form action="/search" method="GET" class="search-form">
    <div class="header mdc-text-field mdc-text-field--box mdc-text-field--with-leading-icon mdc-text-field-tt" data-mdc-auto-init="MDCTextField">
      <span class="far fa-search mdc-text-field__icon" tabindex="0" role="button"></span>
      <input type="text" id="what-primary-content" name="keywords" class="mdc-text-field__input" placeholder="" value="{{@root.request.params.query.keywords}}" data-lpignore="true" data-typeahead='{
        "typeaheadOptions": {
          "highlight": true,
          "minlength": 0
        },
        "outputs": [
          {
            "type": "prop",
            "options": {
              "selectorTemplate": "#cb-\{{item.datasetName}}-\{{item.value}}",
              "prop": "checked",
              "valueTemplate": "checked"
            }
          }
        ],
        "datasets": [
          {{#each @root.context.metaData.terms}}
            {{#unless (getProperty @root.data.currentSite.fixedFilters key)}}
              {{#each termGroups}}
                {
                  "debug": "We have no fixed filters",
                  "name": {{{stringify ../key}}},
                  "templates": {
                    {{#compare (length (getKeys ../termGroups)) 1}}
                      "header": "<h3>{{{../label}}}</h3>"
                    {{else}}
                      "header": "<h3>{{{../label}}} &gt; {{{label}}}</h3>"
                    {{/compare}}
                  },
                  "display": "other",
                  "items": [
                    {{#each terms}}
                      {
                      "label": {{{stringify (concat ../key ' ' textBag)}}},
                      "value": {{{stringify key}}},
                      "other": {{{stringify label}}}
                      },
                    {{/each}}
                    null
                  ]
                },
              {{/each}}
            {{else}}
              {
                "debug": "We have fixed filters",
                "name": {{{stringify key}}},
                "templates": {
                  "header": "<h3>{{{label}}}</h3>"
                },
                "display": "other",
                "items": [
                  {{#each termGroups}}
                    {{#each terms}}
                      {{#if (contains (getProperty @root.data.currentSite.fixedFilters ../../key) key)}}
                        {
                        "label": {{{stringify (concat ../key ' ' textBag)}}},
                        "value": {{{stringify key}}},
                        "other": {{{stringify label}}}
                        },
                      {{/if}}
                    {{/each}}
                  {{/each}}
                  null
                ]
              },
            {{/unless}}
          {{/each}}
          null
        ]
      }'>
      <label for="what-primary-content" class="mdc-floating-label">
        Keywords / categories
      </label>
      <div class="mdc-line-ripple"></div>
    </div>

    {{#each @root.context.metaData.terms}}
      {{#> components_advanced_checkbox_list name=@key label=label}}
        {{#unless (getProperty @root.data.currentSite.fixedFilters key)}}
          {{#each termGroups}}
            {{#> components_advanced_checkbox_group
                name=(concat @../key '-' @key)
                label=label
                hideParent=(compare (length (getKeys ../../termGroups)) 1)}}
              {{#each terms}}
                {{> components_advanced_checkbox_item
                    name=../../../../key
                    value=key
                    label=label
                    checked=(contains (getProperty @root.request.params.query ../../../../key) key)
                    group=(concat @../../../../key '-' @../../../key)
                    noIndent=(compare (length (getKeys ../../../../termGroups)) 1)}}
              {{/each}}
            {{/components_advanced_checkbox_group}}
          {{/each}}
        {{else}}
          {{#> components_advanced_checkbox_group
              name=(concat @key '-other')
              label='Other'
              hideParent=true}}
            {{#each termGroups}}
              {{#each terms}}
                {{#if (contains (getProperty @root.data.currentSite.fixedFilters ../../../../key) key)}}
                  {{> components_advanced_checkbox_item
                      name=../../../../key
                      value=key
                      label=label
                      checked=(contains (getProperty @root.request.params.query ../../../../key) key)
                      group=(concat @../../../../key '-other')
                      noIndent=1}}
                {{/if}}
              {{/each}}
            {{/each}}
          {{/components_advanced_checkbox_group}}
        {{/unless}}
      {{/components_advanced_checkbox_list}}
    {{/each}}
    <div id="filter-container-outer">
      <div id="filter-container-inner">
        <button class="mdc-button mdc-button--raised mdc-button--large mdc-button--fullwidth mdc-button--disabled mdc-ripple-surface mdc-ripple-surface--primary" type="submit" id="{{instance_id}}-search-submit" data-mdc-auto-init="MDCRipple" disabled>
          <span class="far fa-search fa-fw mdc-list-item__graphic" aria-hidden="true"></span>
          Filter
        </button>
      </div>
    </div>
    <span id="filter-indicator" class="fal fa-angle-double-down fa-3x" style="display:none;"></span>
  </form>
</div>