{{#*inline "current_page" ~}}
  {{#compare paging.totalResults ">" 10 ~}} |
    <strong>Current page:</strong> {{addCommas paging.currentPage}} of {{addCommas paging.totalPages}}
  {{/compare ~}}
{{/inline ~}}

{{#if paging.totalResults ~}}
  <div class="search-info mdc-elevation--z2">
    <div class="mdc-layout-grid">
      <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-8" style="align-self: center;">
          <strong>Total results:</strong> {{addCommas paging.totalResults}}
          {{#ifAny @root.request.params.query.keywords @root.request.params.query.activities @root.request.params.query.beneficiaries @root.request.params.query.geographical_areas_funded @root.request.params.query.type_of_cost @root.request.params.query.type_of_funding @root.request.params.query.source_of_fund @root.request.params.query.miscellaneous @root.request.params.query.page ~}}
            {{#ifAll (compare paging.totalResults ">" 200) (compare @root.route.name "fund_search") ~}}
              (limited to 200 per search)
            {{else}}
              {{> current_page}}
            {{/ifAll ~}}
          {{else}}
            {{> current_page}}
          {{/ifAny ~}}
        </div>
        {{#ifAll @root.data.auth (compare @root.route.name "fund_search") ~}}
        {{#>premium_content}}
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4 text-right">
            <a href="{{@root.request.params.uri.pathname}}?pdf=true&{{{querystringify @root.request.params.query utm_source=null utm_campaign=null utm_medium=null}}}" class="mdc-button" data-mdc-auto-init="MDCRipple">
              <span class="fas fa-tree-alt fa-rotate-90 fa-fw r-margin"></span>
              Download results as PDF
            </a>
        </div>
        {{/premium_content}}
        {{/ifAll ~}}
      </div>
    </div>
  </div>
{{else}}
  {{#ifAny @root.request.params.query.keywords @root.request.params.query.activities @root.request.params.query.beneficiaries @root.request.params.query.geographical_areas_funded @root.request.params.query.type_of_cost @root.request.params.query.type_of_funding @root.request.params.query.source_of_fund @root.request.params.query.miscellaneous ~}}
    <div class="search-info mdc-elevation--z1">
      No results could be found, please try a different search query
    </div>
  {{/ifAny ~}}
{{/if ~}}