<div class="container-content fundingscotland-organisation">
  {{#compare @root.data.primaryResponse.hits.total ">" 0 ~}}
  {{#with @root.data.primaryResponse.hits.hits.[0]._source as |funder| ~}}

  {{> funder_full funder}}

  <div class="v-margin-full">
    {{#compare @root.data.supplimentaryResponses.funds_open.hits.total ">" 0 ~}}
    <hr />
    <div class="mdc-typography--headline5">
      Currently open funds
    </div>
    {{#if @root.data.auth ~}}
    {{#each @root.data.supplimentaryResponses.funds_open.hits.hits ~}}
    {{> fund_list _source actions="more-fund,lists,hide-fund"}}
    {{/each ~}}
    {{else}}
    {{> fund_list @root.data.supplimentaryResponses.funds_open.hits.hits.0._source actions="more-fund,lists,hide-fund"}}
    {{#compare @root.data.supplimentaryResponses.funds_open.hits.total ">" 1 ~}}
    <div class="mdc-typography--body1 v-margin-full b-padding-full">
      To see {{subtract @root.data.supplimentaryResponses.funds_open.hits.total 1}} more open {{inflect (subtract @root.data.supplimentaryResponses.funds_open.hits.total 1) "fund" "funds"}}, please <a href="/sign-up">sign up</a>.
    </div>
    {{/compare ~}}
    {{/if ~}}
    {{/compare ~}}

    {{#compare @root.data.supplimentaryResponses.funds_closed.hits.total ">" 0 ~}}
    {{#compare @root.data.supplimentaryResponses.funds_open.hits.total "===" 0 ~}}
    <hr />
    {{/compare}}
    <div class="mdc-typography--headline5">
      Currently closed funds
    </div>
    {{#if @root.data.auth ~}}
    {{#each @root.data.supplimentaryResponses.funds_closed.hits.hits ~}}
    {{> fund_list _source actions="more-fund,lists,hide-fund"}}
    {{/each ~}}
    {{else}}
    {{> fund_list @root.data.supplimentaryResponses.funds_closed.hits.hits.0._source actions="more-fund,lists,hide-fund"}}
    {{#compare @root.data.supplimentaryResponses.funds_closed.hits.total ">" 1 ~}}
    <div class="mdc-typography--body1 v-margin-full b-padding-full">
      To see {{subtract @root.data.supplimentaryResponses.funds_closed.hits.total 1}} more closed {{inflect (subtract @root.data.supplimentaryResponses.funds_closed.hits.total 1) "fund" "funds"}}, please <a href="/sign-up">sign up</a>.
    </div>
    {{/compare ~}}
    {{/if ~}}
    {{/compare ~}}

    {{#compare @root.data.supplimentaryResponses.funds_open.hits.total "===" 0 ~}}
    {{#compare @root.data.supplimentaryResponses.funds_closed.hits.total "===" 0 ~}}
    <hr />
    <div class="mdc-typography--headline6">
      There are no current or recently closed funds available
    </div>
    {{/compare ~}}
    {{/compare ~}}
  </div>

  {{/with ~}}
  {{else}}
  <p>
    <strong>Error:</strong> the requested funder could not be found.
  </p>
  {{/compare ~}}
</div>