<div id="detailed-results-container" class="container-content lists fundingscotland-lists">
  <div class="t-margin-full">
    <a href="/lists">
      <span class="far fa-chevron-left fa-fw"></span>
      Back to lists
    </a>
  </div>
  {{#>premium_content}}
    {{#with @root.data.shortlistPartition.items.[0].[0]}}
      <h1 class="mdc-typography--headline3 v-margin-full">
        <div class="pull-right mdc-chip-set">
          {{#> ajax_chip
            onUrl=(concat "/toggle-list-subscription?name=" partition)
            offUrl=(concat "/toggle-list-subscription?name=" partition)
            onText="Email updates"
            offText="Email updates"
            iconClasses="fal fa-fw fa-times"
            on=partitionActive
          }}
            {
            "extraAttributes": "data-fund-id=\"{{../partition}}\"",
            "onClasses": {
            "[data-fund-id=\"{{../partition}}\"] .mdc-chip__icon": "mdc-chip__icon--leading-hidden"
            },
            "offClasses": {
            "[data-fund-id=\"{{../partition}}\"]": ""
            }
            }
          {{/ajax_chip}}
        </div>
        List: {{partition}}
      </h1>

      <div class="mdc-layout-grid b-margin-full">
        <div class="mdc-layout-grid__inner">
          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-9-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone action">
            <div class="v-margin-full">
              <span class="r-margin-full">
                <a class="mdc-theme--error pointer" data-delete-list="{{partition}}">Delete list</a>
              </span>
              <span class="r-margin-full">
                <a href="/list-pdf/{{partition}}" download>Download as PDF</a>
              </span>
              <span class="r-margin-full">
                <a href="/list-csv/{{partition}}" download>Download as CSV</a>
              </span>
            </div>
          </div>
          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone action">
            <form action="{{{@root.request.url.path}}}" method="GET">
              {{> fund_search_sort}}
            </form>
          </div>
        </div>
      </div>
    {{/with}}
    {{#each @root.data.primaryResponse.hits.hits ~}}
      {{> fund_search_result _source sort=sort actions="more-fund"}}
    {{/each ~}}
  {{/premium_content}}
  {{#>premium_content_alt}}
    <h1 class="mdc-typography--headline3 v-margin-full">
      Lists &amp; email updates
    </h1>
    {{> upgrade_ad_lists}}
  {{/premium_content_alt}}
</div>