{{#if data.primaryResponse.hits.hits.[0] ~}}
{{#with data.primaryResponse.hits.hits.[0]._source ~}}
<title>{{@root.data.currentSite.title}} – Search results</title>
{{/with ~}}
{{else}}
<title>{{@root.data.currentSite.title}} – Search results</title>
{{/if ~}}
<description>{{{description}}}</description>
<link>https://{{@root.request.headers.host}}{{{replace (replace request.params.uri.path "&rss" "") "?rss" ""}}}</link>