<div class="container-fluid">
  {{> header_search}}

  <div class="mdc-layout-grid">
    <div class="mdc-layout-grid__inner">
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-{{#compare @root.data.currentSite.name "default" ~}}8{{else}}4{{/compare}}-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone h-padding-full home-info">
        <h1 class="mdc-typography--headline4">
          Funding {{@root.data.currentSite.fundingArea}}
        </h1>
        {{#compare @root.data.currentSite.name "default" ~}}
        <p>
          Find funding for your charity, community group or social enterprise using our free online search engine. From small grants to funding for big capital projects, we can help you track down the funding you need to make a difference in your community.
        </p>
        {{else}}
        {{#if @root.data.currentSite.live ~}}
        {{!-- <p>
          {{#if @root.data.currentSite.organisationProgramme ~}}
          The <a href="{{@root.data.currentSite.organisationProgrammeWebsite}}">{{@root.data.currentSite.organisationProgramme}}</a> programme, on behalf of
          {{/if ~}}
          <a href="{{@root.data.currentSite.organisationWebsite}}">{{@root.data.currentSite.organisationName}}</a> has teamed up with SCVO's <a href="https://funding.scot">Funding Scotland</a> to provide an advanced online funding search for your charity, community group or social enterprise. From small grants to funding for big capital projects, we can help you track down the funding you need to make a difference in your community.
        </p> --}}
        {{#if @root.data.currentSite.organisationDescription ~}}
        <p>
          {{{@root.data.currentSite.organisationDescription}}}
        </p>
        {{/if ~}}
        {{/if ~}}
        {{/compare ~}}

        <div class="mdc-layout-grid">
          <div class="mdc-layout-grid__inner">
            {{#compare @root.data.currentSite.name "default" ~}}
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
              {{!-- {{#>premium_content_alt}} --}}
              {{!-- <div class="mdc-typography--headline5">Go premium</div> --}}
              {{!-- <p>
                To see what is available, <a href="/search">search for funds</a>. To see full fund details and more than one page of results, please <a href="/sign-up">sign up</a> or <a href="/sign-in">sign in</a>. --}}
                {{!-- For additional features such as email alerts, adding notes to your funds, and more, <a href="/premium">go premium</a>. --}}
              {{!-- </p> --}}
              {{!-- {{/premium_content_alt}} --}}
              {{!-- <div class="mdc-typography--headline5">Go local</div> --}}
              {{!-- <p>
                We've teamed up with a number of other organisations to provide premium features for funding searches in specific local areas:
              </p>
              {{> list_local_sites}} --}}
            </div>
            {{/compare ~}}
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-{{#compare @root.data.currentSite.name "default" ~}}6{{else}}12{{/compare}}-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
              <!-- <p>
              <strong> TO UPDATE: </strong> To start searching for funding you must register or login. The terms and conditions and privacy policy are here. Please fill in the forms below to get started. You can unsubscribe at any time.
              </p> -->
              {{#if @root.data.currentSite.live ~}}
              {{!-- {{> account_sign_up}} --}}
              This website will be shut down on 1st October 2021.
              {{else}}
              {{> test_warning}}
              {{/if ~}}
            </div>
          </div>
        </div>
      </div>

      {{#compare @root.data.currentSite.name "default" ~}}
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone r-padding-full b-padding-full">
        <div class="mdc-typography--headline6 v-margin-full t-padding-full">
          Recently reviewed funds&ensp;
          <span class="mdc-typography--body1">
            <a href="/search?sort=date_last_modified">Find more</a>
          </span>
        </div>
        {{> fund_mini @root.data.primaryResponse.hits.hits.[0]._source}}
        {{> fund_mini @root.data.primaryResponse.hits.hits.[1]._source}}
        {{> fund_mini @root.data.primaryResponse.hits.hits.[2]._source}}
      </div>
      {{else}}
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-8-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone r-padding-full b-padding-full">
        <div class="mdc-typography--headline6 b-margin-full t-padding-full">
          Recently reviewed funds&ensp;
          <span class="mdc-typography--body1">
            <a href="/search?sort=date_last_modified">Find more</a>
          </span>
        </div>
        <div class="mdc-layout-grid equal-height">
          <div class="mdc-layout-grid__inner">
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone b-margin-full">
              {{> fund_mini @root.data.primaryResponse.hits.hits.[0]._source}}
            </div>
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone b-margin-full">
              {{> fund_mini @root.data.primaryResponse.hits.hits.[3]._source}}
            </div>
          </div>
          <div class="mdc-layout-grid__inner">
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone b-margin-full">
              {{> fund_mini @root.data.primaryResponse.hits.hits.[1]._source}}
            </div>
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone b-margin-full">
              {{> fund_mini @root.data.primaryResponse.hits.hits.[4]._source}}
            </div>
          </div>
          <div class="mdc-layout-grid__inner">
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone b-margin-full">
              {{> fund_mini @root.data.primaryResponse.hits.hits.[2]._source}}
            </div>
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone b-margin-full">
              {{> fund_mini @root.data.primaryResponse.hits.hits.[5]._source}}
            </div>
          </div>
        </div>
      </div>
      {{/compare ~}}

    </div>
  </div>
  {{> tfn_latest}}
</div>