<div class="container-content fundingscotland-page t-padding container-centred">
  <div class="b-padding-full b-margin-full">
    {{#compare @root.data.primaryResponse.hits.total ">" 0 ~}}
      <h1 class="mdc-typography--headline4">
        {{{@root.data.primaryResponse.hits.hits.[0]._source.title}}}
      </h1>
      {{{@root.data.primaryResponse.hits.hits.[0]._source.content}}}

      {{#ifAll @root.data.auth (compare @root.data.currentSite.name "===" "default") ~}}
      <div class="mdc-card list h-padding-full">
        {{!-- <iframe src="https://www.surveydisabledgizmo.eu/s3/90135398/Funding-Scotland-Premium" frameborder="0" width="100%" height="550" style="overflow:hidden" class="b-margin-full"></iframe> --}}
        {{!-- <script type="text/javascript" >document.write('<script src="http' + ( ("https:" == document.location.protocol) ? "s" : "") + '://www.surveydisabledgizmo.eu/s3/90135398/Funding-Scotland-Premium?__output=embedjs&email={{@root.data.auth.email}}&passwordHash={{slugify @root.data.auth.passwordHash}}&__ref=' + escape(document.location.origin + document.location.pathname) + '" type="text/javascript" ></scr' + 'ipt>');</script><style>.sg-survey{display:none; }</style> --}}
      </div>
      {{else}}
      <div class="mdc-typography--body1">
        <a href="/sign-in" class="mdc-button mdc-button--raised">
          <span class="far fa-sign-in-alt mdc-list-item__graphic" aria-hidden="true"></span>
          Sign in
        </a>
        <a href="/sign-up" class="mdc-button mdc-button--raised">
          <span class="far fa-list-alt mdc-list-item__graphic" aria-hidden="true"></span>
          Sign up
        </a>
      </div>
      {{/ifAll ~}}
    {{/compare ~}}
  </div>
</div>